.highlight{
    color:#d0d0d0
}

.highlight table td{
    padding:5px
}

.highlight table pre{
    margin:0
}

.highlight .w{
    color:#d0d0d0
}

.highlight .err{
    color:#151515;
    background-color:#ac4142
}

.highlight .c,.highlight .cd,.highlight .cm,.highlight .c1,.highlight .cs{
    color:#888
}

.highlight .cp{
    color:#f4bf75
}

.highlight .o,.highlight .ow{
    color:#f4bf75
}

.highlight .p,.highlight .pi{
    color:#d0d0d0
}

.highlight .gi{
    color:#90a959
}

.highlight .gd{
    color:#ac4142
}

.highlight .gh{
    color:#6a9fb5;
    font-weight:bold
}

.highlight .k,.highlight .kn,.highlight .kp,.highlight .kr,.highlight .kv{
    color:#aa759f
}

.highlight .kc,.highlight .kt,.highlight .kd{
    color:#d28445
}

.highlight .s,.highlight .sb,.highlight .sc,.highlight .sd,.highlight .s2,.highlight .sh,.highlight .sx,.highlight .s1{
    color:#90a959
}

.highlight .sr{
    color:#75b5aa
}

.highlight .si,.highlight .se{
    color:#8f5536
}

.highlight .nt,.highlight .nn,.highlight .nc,.highlight .no{
    color:#f4bf75
}

.highlight .na{
    color:#6a9fb5
}

.highlight .m,.highlight .mf,.highlight .mh,.highlight .mi,.highlight .il,.highlight .mo,.highlight .mb,.highlight .mx{
    color:#90a959
}

.highlight .ss{
    color:#90a959
}

body{
    margin:0;
    padding:0;
    background:#151515 url("../images/bkg.png") 0 0;
    color:#eaeaea;
    font-size:16px;
    line-height:1.5;
    font-family:Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace
}

.container{
    margin-top: 200px;
    width:90%;
    max-width:1000px;
    margin:0 auto
}

section{
    display:block;
    margin:0 0 20px 0
}

h1,h2,h3,h4,h5,h6{
    margin:0 0 20px
}

li{
    line-height:1.4
}

header{
    background:rgba(0,0,0,0.1);
    width:100%;
    border-bottom:1px dashed #b5e853;
    padding:20px 0;
    margin:0 0 40px 0
}

header h1{
    font-size:30px;
    line-height:1.5;
    margin:0 0 0 -40px;
    font-weight:bold;
    font-family:Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    color:#b5e853;
    text-shadow:0 1px 1px rgba(0,0,0,0.1),0 0 5px rgba(181,232,83,0.1),0 0 10px rgba(181,232,83,0.1);
    letter-spacing:-1px;
    -webkit-font-smoothing:antialiased
}

@media (max-width: 1000px){
    header h1{
        margin-left:0
    }
}

header h1:before{
    content:"./ ";
    font-size:24px
}

header h2{
    font-size:18px;
    font-weight:300;
    color:#666
}

#downloads .btn{
    display:inline-block;
    text-align:center;
    margin:0
}

#main_content{
    width:100%;
    -webkit-font-smoothing:antialiased
}

section img{
    max-width:100%
}

h1,h2,h3,h4,h5,h6{
    font-weight:normal;
    font-family:Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    color:#b5e853;
    letter-spacing:-0.03em;
    text-shadow:0 1px 1px rgba(0,0,0,0.1),0 0 5px rgba(181,232,83,0.1),0 0 10px rgba(181,232,83,0.1)
}

#main_content h1{
    font-size:30px
}

#main_content h2{
    font-size:24px
}

#main_content h3{
    font-size:18px
}

#main_content h4{
    font-size:14px
}

#main_content h5{
    font-size:12px;
    text-transform:uppercase;
    margin:0 0 5px 0
}

#main_content h6{
    font-size:12px;
    text-transform:uppercase;
    color:#999;
    margin:0 0 5px 0
}

dt{
    font-style:italic;
    font-weight:bold
}

ul li{
    list-style-image:url("../images/bullet.png")
}

blockquote{
    color:#aaa;
    padding-left:10px;
    border-left:1px dotted #666
}

pre{
    background:rgba(0,0,0,0.9);
    border:1px solid rgba(255,255,255,0.15);
    padding:10px;
    font-size:16px;
    color:#b5e853;
    border-radius:2px;
    word-wrap:normal;
    overflow:auto;
    overflow-y:hidden
}

code.highlighter-rouge{
    background:rgba(0,0,0,0.9);
    border:1px solid rgba(255,255,255,0.15);
    padding:0px 3px;
    margin:0px -3px;
    color:#aa759f;
    border-radius:2px
}

table{
    width:100%;
    margin:0 0 20px 0
}

th{
    text-align:left;
    border-bottom:1px dashed #b5e853;
    padding:5px 10px
}

td{
    padding:5px 10px
}

hr{
    height:0;
    border:0;
    border-bottom:1px dashed #b5e853;
    color:#b5e853
}

.btn{
    display:inline-block;
    background:-webkit-linear-gradient(top, rgba(40,40,40,0.3), rgba(35,35,35,0.3) 50%, rgba(10,10,10,0.3) 50%, rgba(0,0,0,0.3));
    padding:8px 18px;
    border-radius:50px;
    border:2px solid rgba(0,0,0,0.7);
    border-bottom:2px solid rgba(0,0,0,0.7);
    border-top:2px solid #000;
    color:rgba(255,255,255,0.8);
    font-family:Helvetica, Arial, sans-serif;
    font-weight:bold;
    font-size:13px;
    text-decoration:none;
    text-shadow:0 -1px 0 rgba(0,0,0,0.75);
    box-shadow:inset 0 1px 0 rgba(255,255,255,0.05)
}

.btn:hover{
    background:-webkit-linear-gradient(top, rgba(40,40,40,0.6), rgba(35,35,35,0.6) 50%, rgba(10,10,10,0.8) 50%, rgba(0,0,0,0.8))
}

.btn .icon{
    display:inline-block;
    width:16px;
    height:16px;
    margin:1px 8px 0 0;
    float:left;
}

.btn-github .icon{
    opacity:0.6;
    background:url("../images/blacktocat.png") 0 0 no-repeat
}

a{
    color:#63c0f5;
    text-shadow:0 0 5px rgba(104,182,255,0.5)
}

.cf:before,.cf:after{
    content:"";
    display:table
}

.cf:after{
    clear:both
}

.cf{
    zoom:1
}

#a-title{
    text-decoration:none
}

#main_content{
    margin-bottom: 150px;
}

.fa,
.fas,
.fa-solid,
.far,
.fa-regular,
.fal,
.fa-light,
.fat,
.fa-thin,
.fad,
.fa-duotone,
.fab,
.fa-brands {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: var(--fa-display, inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto; 
}

.fa-display::before {
  content: "\e163"; 
}

.fa-arrow-up-right-from-square::before {
  content: "\f08e"; 
}

.fad.fa-arrow-up-right-from-square::after, .fa-duotone.fa-arrow-up-right-from-square::after {
  content: "\f08e\f08e"; 
}

.fa-plus::before {
  content: "\2b"; 
}

.fad.fa-plus::after, .fa-duotone.fa-plus::after {
  content: "\2b\2b"; 
}

.fa-snake::before {
  content: "\f716"; 
}

.fad.fa-snake::after, .fa-duotone.fa-snake::after {
  content: "\f716\f716"; 
}

.fas,
.fa-solid {
  font-family: 'Font Awesome 6 Pro';
  font-weight: 900; 
}

.fa-cars::before {
  content: "\f85b"; 
}

.fad.fa-cars::after, .fa-duotone.fa-cars::after {
  content: "\f85b\f85b"; 
}

.fad.fa-cars::after, .fa-duotone.fa-cars::after {
  content: "\f85b\f85b"; 
}

.fa-bird::before {
  content: "\e469"; 
}

.fad.fa-bird::after, .fa-duotone.fa-bird::after {
  content: "\e469\e469"; 
}

.fa-table-cells::before {
  content: "\f00a"; 
}


.fad.fa-table-cells::after, .fa-duotone.fa-table-cells::after {
  content: "\f00a\f00a"; 
}

.fa-chevron-left::before {
  content: "\f053"; 
}

.fad.fa-chevron-left::after, .fa-duotone.fa-chevron-left::after {
  content: "\f053\f053"; 
}

.fa-gamepad-modern::before {
  content: "\f8bc"; 
}

.fad.fa-gamepad-modern::after, .fa-duotone.fa-gamepad-modern::after {
  content: "\f8bc\f8bc"; 
}

.fa-moon-cloud::before {
  content: "\f754"; 
}

.fad.fa-moon-cloud::after, .fa-duotone.fa-moon-cloud::after {
  content: "\f754\f754"; 
}

.fa-circle::before {
  content: "\f111"; 
}

.fad.fa-circle::after, .fa-duotone.fa-circle::after {
  content: "\f111\f111"; 
}

.fad,
.fa-duotone {
  position: relative;
  font-family: 'Font Awesome 6 Duotone';
  font-weight: 900;
  letter-spacing: normal; 
}

.fad::before,
.fa-duotone::before {
  position: absolute;
  color: var(--fa-primary-color, inherit);
  opacity: var(--fa-primary-opacity, 1); 
}

.fad::after,
.fa-duotone::after {
  color: var(--fa-secondary-color, inherit);
  opacity: var(--fa-secondary-opacity, 0.4); 
}

.fa-earth-americas::before {
  content: "\f57d"; 
}

.fad.fa-earth-americas::after, .fa-duotone.fa-earth-americas::after {
  content: "\f57d\f57d"; 
}

.fad.fa-earth-americas::after, .fa-duotone.fa-earth-americas::after {
  content: "\f57d\f57d"; 
}

.fa-bars::before {
  content: "\f0c9"; 
}

.fad.fa-bars::after, .fa-duotone.fa-bars::after {
  content: "\f0c9\f0c9"; 
}

.navbar{
  position:relative;
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  justify-content:space-between;
  padding-top:.5rem;
  padding-bottom:.5rem
}

.navbar>.container,.navbar>.container-fluid,.navbar>.container-lg,.navbar>.container-md,.navbar>.container-sm,.navbar>.container-xl,.navbar>.container-xxl{
  display:flex;
  flex-wrap:inherit;
  align-items:center;
  justify-content:space-between
}

@media (min-width:992px){
  .navbar-expand-lg{
    flex-wrap:nowrap;
    justify-content:flex-start
  }
  .navbar-expand-lg .navbar-nav{
    flex-direction:row
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu{
    position:absolute
  }
  .navbar-expand-lg .navbar-nav .nav-link{
    padding-right:.5rem;
    padding-left:.5rem
  }
  .navbar-expand-lg .navbar-nav-scroll{
    overflow:visible
  }
  .navbar-expand-lg .navbar-collapse{
    display:flex!important;
    flex-basis:auto
  }
  .navbar-expand-lg .navbar-toggler{
    display:none
  }
}

.justify-content-center{
  justify-content:center!important
}

.navbar-dark .navbar-brand{
  color:#fff
}

.navbar-dark .navbar-brand:focus,.navbar-dark .navbar-brand:hover{
  color:#fff
}

.navbar-dark .navbar-nav .nav-link{
  color:rgba(255,255,255,.55)
}

.navbar-dark .navbar-nav .nav-link:focus,.navbar-dark .navbar-nav .nav-link:hover{
  color:rgba(255,255,255,.75)
}

.navbar-dark .navbar-nav .nav-link.disabled{
  color:rgba(255,255,255,.25)
}

.navbar-dark .navbar-nav .nav-link.active,.navbar-dark .navbar-nav .show>.nav-link{
  color:#fff
}

.navbar-dark .navbar-toggler{
  color:rgba(255,255,255,.55);
  border-color:rgba(255,255,255,.1)
}

.navbar-dark .navbar-toggler-icon{
  background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.navbar-dark .navbar-text{
  color:rgba(255,255,255,.55)
}

.navbar-dark .navbar-text a,.navbar-dark .navbar-text a:focus,.navbar-dark .navbar-text a:hover{
  color:#fff
}